h2
{
    color:rgb(187, 66, 218);
    margin: 0;
}
body
{
    margin: 0;
    background-color: rgb(243, 186, 243);
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header
{
    margin: 5px;
    padding: 10px;
    background-color: rgb(253, 204, 212);
}
main
{
    background-color: rgb(253, 204, 212);
    margin: 5px;
    padding: 10px;
}
footer
{
    background-color: rgb(223, 141, 243);
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h1, h2, h3, h4, h4, h6, ul
{
    margin: o;
}
ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
}
a
{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, main, img
{
    padding: 10px;
}
button
{
    color: #662f4d;
    background: transparent;
    border: 2px solid #69184e;
    position: relative;
    font-size: 14px;
    letter-spacing: .3em;
    font-family: 'Montserrat', sans-serif;
    padding: 17px 34px 17px 39px;
    transition: .2s ease-in-out;
    cursor: pointer;
}
html
{
    height: 100;
}
